<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/">トップ</a></li>
		<li class="breadcrumb-item active" aria-current="page">ユーザー一覧</li>
	</ol>
</nav>

<div class="text-center p-3">
  <h2>ユーザー一覧</h2>
</div>

<%= render 'users', users: @users %>

