<% if logged_in? %>
  <div class="text-center p-3">
    <h2>タイムライン</h2>
  </div>
  <!--<div class="row">-->

    <!--<div class="col-sm-12">-->
      <%= render 'reviews/reviews', reviews: @reviews %>
    <!--</div>-->
  <!--</div>-->
<% else %>
  <div class="jumbotron jumbotron-fluid">
    <!--div class="bg-mask"-->
      <div class="text-center">
        <h5>ー「音楽」で繋がろうー</h5>
        <h1 class="welcome mb-3">Discnote</h1>
        <%= link_to 'Sign up now!', signup_path, class: 'btn btn btn-info' %>
        <%= link_to 'Login', login_url, class: 'btn btn btn-outline-info' %>
      </div>
    <!--/div-->
  </div>
<% end %>