  <nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="/">トップ</a></li>
		  <li class="breadcrumb-item active" aria-current="page">アルバム一覧</li>
	  </ol>
  </nav>

<div class="text-center p-3">
  <h2>Albums</h2>
</div>



<%= render 'albums', albums: @albums %>

